apiVersion: v1
kind: PersistentVolume
metadata:
  name: liferay-pv
spec:
  capacity:
    storage: 20Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  hostPath:
    path: /data/liferay
